@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;800&family=Montserrat:wght@100;200;300;400;500;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "MontSerrat", serif;
    --font-secundary: "Baloo 2", serif;
    --font-action: "MontSerrat", serif;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    opacity: 1;
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: zoom 10s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 400;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .7);
    color: #ffffff;
    margin-bottom: 2rem;
    border-right: 2px solid rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    overflow: hidden;
    animation: blinkCursor 700ms infinite normal;
    animation: typing 2s 100ms steps(40) normal both;
}

@keyframes blinkCursor {
    from {
        border-right: 2px solid rgba(255, 255, 255, 0.7);
    }
    to {
        border-right: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 44rem;
    }
}

@keyframes showContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner p {
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    font-weight: 200;
    text-shadow: .1rem .15rem 1px rgba(0, 0, 0, .7);
    color: #ffffff;
    margin-bottom: 2rem;
    animation: showContent 1s 2.1s forwards;
    opacity: 0;
}

.banner button {
    animation: showContent 1s 2.1s forwards;
    font-size: 1.2rem;
    font-family: var(--font-action);
    font-weight: 250;
    text-transform: uppercase;
    padding: .7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    opacity: 0;
    box-shadow: 2px 2px #3a3a3a;
    background: #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);
}

.hamburguer {
    width: 3rem;
    height: 3rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all .5s;
}

.line {
    width: 100%;
    height: .15rem;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    transition: all .6s
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .5s;
}
.show-menu .sidebar{
    right: 0;
}
.show-menu .hamburguer{
    right: 16rem;
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line1{
    background-color: black;
    transform: rotate(45deg) translate(.3rem, .75rem)  ;
}
.show-menu #line3{
    background-color: black;
    transform: rotate(-45deg) translate(.3rem, -.75rem) ;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
    color: #555;
    transition: color .8s;
}

.menu-link:hover {
    color: #126988;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    width: 3rem;
    height: 3rem;
    color: #555;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-media i:hover {
    color: #126988;
}